@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wdth,wght@0,50..125,700;1,50..125,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Saira";
}
body {
    background-color: #000000f1;
}
header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 1000px;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
.navigation a{
    text-decoration: none;
    color: #007500;
}

.navigation a:hover{
    text-decoration: none;
    color: #00d600;
}

hr{
    opacity: 10%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1000px;
    max-height: 450px;
}
.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}

.herosub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name{
    font-size: 3rem;
    color: #007500;
}
.title{
    font-size: 4rem;
    color: #ffffff;
}
.herobtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.hireme{
    background-color: black;
    color: #007500;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    transition: transform 0.3s;
}
.hireme:hover{
    background-color: rgb(61, 61, 61);
    color: #00d600;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    transform: scale(1.1);
}
.cv{
    background-color: black;
    color: #007500;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
    transition: transform 0.3s;
}
.cv:hover{
    background-color: rgb(61, 61, 61);
    color: #00d600;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
    transform: scale(1.1);
}
.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1000px;
    gap: 10rem;
}
.textcontainer{
    display: flex;
    flex-direction: column;
}
.texttitle{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}
.aboutname{
    color: #ffffff;
}
.abouttitle{
    color: #007500;
}
.aboutmepar{
    font-size: 1.5rem;
    color: rgb(168, 168, 168)
}
.works{
    background-image: url("assets/svg/background.svg");
    padding: 10rem 10rem;
    margin: 5rem 0rem
}
.workcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1000px;
    max-height: 350px;
}
.projecttitle{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
}
.works ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.works li{
    border-radius: 16px;
    background-color: rgba(00, 75, 00, 0.1);
    backdrop-filter: blur(4px);
    padding: 1.5rem 3rem;
}
.works li img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform: translateY(0rem) scale(1);
    transition: transform 0.3s;
}
.works li img:hover{
    transform: translateY(-1rem) scale(1.5);
}
.btn{
    background-color: black;
    color: #007500;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s;
}
.btn:hover{
    background-color: rgb(61, 61, 61);
    color: #00d600;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: scale(1.1);
}
.contactcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
}
.contacttitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}
.contact h3, .contact a{
    color: white;
    text-decoration: none;
    transform: translateX(0rem) scale(1);
    transition: transform 0.3s;
}
.contact h3:hover, .contact a:hover{
    color: #007500;
    text-decoration: none;
    transform: translateX(0.6rem) scale(1.1);
}
.emailandphone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.socialmedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(00, 75, 00, 0.1);
    backdrop-filter: blur(4px);
    padding: 1rem;
}
.socialmedia img{
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}
.socialmedia img:hover{
    transform: scale(1.4);
}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}
.aaaa{
    font-size: 2rem;
    color: white;
}
.btn2{
    background-color: black;
    color: #007500;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s;
}
.btn2:hover{
    background-color: rgb(61, 61, 61);
    color: #00d600;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: scale(1.1);
}
@media (max-width: 1023px) {
    *{
        scale: 95%;
    }

  header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -6rem;
  }
  .navigation ul li{
    font-size: 90%;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: -0.2rem;
  }
  .heroimage {
    scale: 70%;
    margin-top: -7.2rem;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutme {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .textcontainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
    order: 1;
    margin-top: 10rem;
  }
  .aboutname,
  .abouttitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutmeimg {
    width: 400px;
    order: 2;
  }
  .works {
    padding: 0;
    background-image: none;
  }
  .workscontainer {
    padding: 5rem 0rem;
    gap: 3rem;
    margin-bottom: 15px;
  }
  .projecttitle {
    margin-left: 1rem;
  }
  .works ul {
    justify-content: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
    margin-bottom: -19rem;
  }
  .contactcontainer {
    margin: 10rem 5rem;
    gap: 2rem;
    margin-bottom: -0.5rem;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }

  .socialmedia {
    flex-wrap: wrap;
    gap: 15px;
  }

  .foot{
    margin-bottom: -20rem;
    font-size: 70%;
  }
}